@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  /* border: 1px dotted red; */
}

input:not(.custom),
textarea:not(.custom),
select:not(.custom) {
  resize: none;
  @apply p-2 shadow-sm rounded-lg w-full border-[1px]
    border-gray-200 text-sm;
}

.shimmer.slow {
  animation: shimmer 4s infinite ease-in-out;
}

.shimmer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 0.8s infinite ease-in-out;
}

.gradient-box {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgb(255, 178, 35), rgb(228, 0, 0));
  background-origin: border-box;
  background-clip: content-box, padding-box;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.fade-in {
  /* opacity: 0; */
  animation: fade-in 150ms forwards ease-in;
}

.fade-in-bottom {
  /* opacity: 0; */
  animation: fade-in-bottom 200ms forwards ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dismiss-activity {
  animation: slide-right 400ms forwards ease-in-out;
}

@keyframes slide-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 0;
  }
  to {
    transform: translateX(100%);
  }
}

.show-activity {
  animation: dissolve-top 400ms forwards ease-in-out;
}

@keyframes dissolve-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  to {
    transform: translateY(-100%);
  }
}
